
/winampremote/bin
/winampremote/obj
/source/ConfigF.~dfm
/source/ConfigF.~h
/source/MainF.~dfm
/source/ServerF.~dfm
/source/ServersF.~dfm
/source/ServersF.~h
/source/binding.~c
/source/conremote.mak
/source/conremote.~bpf
/source/conremote.~bpr
/source/gen_RPCinterface.mak
/source/gen_RPCinterface.~bpr
/source/paslib.lib
/source/remote.mak
/source/remote.~bpr
/source/testclient.mak
/source/testclient.~bpf
/source/testclient.~bpr
/source/testserver.mak
/source/testserver.~bpf
/source/testserver.~bpr
/source/waintstrs.hpp
/source/winampRPC.~bpg
/source/winampclient.mak
/source/winampclient.~bpf
/source/winampclient.~bpr
/source/winampinterface.h
/source/winampinterface_c.c
/source/winampinterface_s.c
/source/winampserver.mak
/source/winampserver.tds
/source/winampserver.~bpr
/bin
/obj
/doc
/source/ConsoleWinampClient.~h
/source/IWinamp.~h
/source/WAINT.~CPP
/source/WAINT.~h
/source/winampinterface_c.~c
/lib
/source/winampinterface.mak
/source/winampinterface.~bpf
/source/winampinterface.~bpr
/source/buildkeys.rcinc
/source/build_ffi.rcinc
/source/conremote.res
/source/gen_RPCinterface.res
/source/remote.res
/source/testserver.res
/source/winampclient.res
/source/winampserver.res
/source/rpcthread.~h
/source/winampinterface.mak
/source/winampinterface.~bpf
/source/winampinterface.~bpr
/source/conremote.rcscript
/source/gen_RPCinterface.rcscript
/source/remote.rcscript
/source/testclient.RES
/source/testclient.rcscript
/source/testserver.rcscript
/source/winampclient.rcscript
/source/winampserver.rcscript
/source/conremote.res
/source/winampserver.res
/source/winampclient.res
/source/testserver.res
/source/testclient.RES
/source/remote.res
/source/gen_RPCinterface.res

/source/conremote.RES
/source/gen_RPCinterface.RES
/source/remote.RES
/source/testserver.RES
/source/winampclient.RES
/source/winampserver.RES
/source/DetailsF.~dfm
/source/PlaylistF.~dfm
/source/REMOTESTRS.~H
/source/SplashF.~dfm
/source/waintstrs.~h