
/winampremote/bin
/winampremote/obj
/winampremote/source/conremote.~bpr
/winampremote/source/gen_RPCinterface.~bpr
/winampremote/source/paslib.lib
/winampremote/source/remote.~bpr
/winampremote/source/waintstrs.hpp
/winampremote/source/winampclient.~bpr
/winampremote/source/winampinterface.h
/winampremote/source/winampinterface_c.c
/winampremote/source/winampinterface_s.c
/winampremote/source/conremote.mak
/winampremote/source/gen_RPCinterface.mak
/winampremote/source/remote.mak
/winampremote/source/winampclient.mak
/winampremote/source/winampRPC.~bpg
/winampremote/source/winampserver.tds
/winampremote/source/winampserver.res
/winampremote/source/winampserver.~bpr
/winampremote/source/ConfigF.~cpp
/winampremote/source/ConfigF.~dfm
/winampremote/source/ConfigF.~h
/winampremote/source/MainF.~cpp
/winampremote/source/MainF.~dfm
/winampremote/source/RPCFuncsU.~cpp
/winampremote/source/ServerF.~cpp
/winampremote/source/ServerF.~dfm
/winampremote/source/ServersF.~cpp
/winampremote/source/ServersF.~dfm
/winampremote/source/ServersF.~h
/winampremote/source/binding.~c
/winampremote/source/rpcthread.~cpp
/winampremote/source/winampserver.mak
/winampremote/source/conremote.~bpf
/winampremote/source/remote.~cpp
/winampremote/source/winampclient.~bpf