<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include BuildParams.wxi ?>	
			
	<Product Id="4236B14F-D457-42E5-9289-074A2F4FD2C7"
        Name="Winamp Remote Control"
        Manufacturer="Patrick Martin"        
		Language="1033"
		Version="$(var.BuildVersion)"
		UpgradeCode="01BB3751-D1FC-43D6-9BDD-DEA516568CF1">
	    <Package Keywords="Winamp, Remote Control,UI,MSI,Database"
		         Comments="Standalone Installation"
		         Compressed="yes"
	             Description="Winamp Remote Control installer package"
	             InstallerVersion="200"
	             Languages="1033"
	             Manufacturer="Patrick Martin"
	             Platform="x86" />
		<!--
			Source media for the installation. 
 			Specifies multiple cab files to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="application.cab" EmbedCab="yes" CompressionLevel="$(var.CompressionLevel)"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir"/>
		
	    <Feature Id="Client"
		         Title="Winamp Remote Client"
		         Description="The Client for the Winamp Remote Control"
		     	Level="1"
				ConfigurableDirectory="INSTALLDIR">
	      <ComponentRef Id="WinampRemoteFiles" />
	      <ComponentRef Id="ProgramMenuDirComponent" />
        </Feature>

	    <Feature Id="Plugin"
		         Title="Winamp Remote Server Plugin"
		         Description="The Server for the Winamp Remote Control"
		     	Level="3"
				ConfigurableDirectory="WINAMP_PLUGIN_DIR">
		  <ComponentRef Id="WinampRemotePlugin" />
        </Feature>
		
		<Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
		<!-- reference and use the Wix stock dialogue sequence -->
		<UIRef Id="WixUI_Mondo"/>
	
	  	<WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
	  	<WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
	
	  	<Property Id="ALLUSERS">1</Property>
		
		<!-- find the winamp install location -->
				
		<Property Id="WINAMPREG">
	        <RegistrySearch Id="WINAMPUNINSTALL"
	                        Root="HKLM"			                
	                        Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Winamp"
	                        Name="UninstallString"
							Type="raw" />
		</Property>	
				
	<UI>
			<!-- excise the License Dialogue from the UI sequence -->		
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg">1</Publish>
            <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
	</UI>
		
	<!-- Attempts to locate the winamp Installer entry and set correctly, accounting for win64
         - which is automagically corrrected by MSI at install time
           as the 32-bit fully qualified name is in the registry -->	
    <CustomAction Id="FindWinamp" Script="jscript">
<![CDATA[ 
var reg = Session.Property( "WINAMPREG" );
if (reg) {
var fragments = reg.replace( "\"", "" ).split( "\\" )
fragments[fragments.length-1] = "Plugins\\"
Session.Property( "WINAMP_PLUGIN_DIR" ) = fragments.join ( "\\"  )
}
]]>
</CustomAction>

	<InstallUISequence>			
			
	 	<!-- finds the Winamp Install -->			
      	<Custom Action="FindWinamp" After="LaunchConditions">1</Custom>		
		
    </InstallUISequence> 

		
	<InstallExecuteSequence>			
			
	    <!-- saves the install location into the ARP setting -->
		<Custom Action="SaveTargetDir" Before="InstallValidate">Not Installed</Custom>
		
    </InstallExecuteSequence> 
		
	</Product>
</Wix>